body {
  margin: 0;
  padding: 1.5rem;
  font-family: sans-serif;
}

p {
  margin: 0.75rem 0;
}

.text-center {
  text-align: center;
}

.war-game-control {
  margin-bottom: 1.5rem;
}

.card {
  max-width: 100%;
  height: auto;
}

.card-layout {
  display: flex;
}

.card-col {
  margin-right: 1.5rem;
  width: 9rem;
}

.card-col:last-of-type {
  margin-right: 0;
}

.clickable {
  cursor: pointer;
}
